.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-info_menu {
  margin-top: auto;
  margin-bottom: 92px;
}


.user-info__text {
  margin-right: 13px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  cursor: pointer;
}

.user-info__text:hover {
  opacity: 0.7;
}


.user-info__button {
  border-radius: 6px;

  background-image: url('../../images/header-button-movies.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #F9F9F9;

  width: 30px;
  height: 30px;
}


@media screen and (max-width: 1018px) {
  .user-info_movies {
    display: none;
  }
}


@media screen and (max-width: 550px) {
  .user-info_menu {
    margin-bottom: 48px;
  }
}