.button {
  width: 396px;
  height: 45px;
  background: #000000;
  border-radius: 3px;
  border: 0;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-top: 134px;
  margin-bottom: 16px;
  cursor: pointer;
}

.button_with-margin {
  margin-top: 221px;
}

@media screen and (max-width: 400px) {
  .button {
    width: 260px;
    margin-top: 157px;
    margin-bottom: 14px;
  }

  .button_with-margin {
    margin-top: 309px;
  }
}