.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__form {
  min-width: 410px;
  display: flex;
  flex-direction: column;
  margin-bottom: 220px;
}

.profile__labels {
  display: flex;
  justify-content: space-between;
  border: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__input {
  text-align: end;
  border: 0;
}

.profile__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0;
  background: transparent;
  padding: 0;
}

.profile__button {
  font-size: 13px;
  line-height: 16px;
  cursor: pointer;
}

.profile__button_exit {
  margin-top: 16px;
  color: #FF4062;
}

.profile__labels:first-child {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 16px;
}

.profile__labels:last-child {
  padding-top: 17px;
}

.profile__button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 770px) {
  .profile__form {
    min-width: 260px;
  }
  .greeting {
    margin-top: 236px;
    margin-bottom: 96px;
  }
  .form {
    margin-bottom: 210px;
  }
}

@media screen and (max-width: 400px) {

  .greeting {
    margin-top: 70px;
    margin-bottom: 80px;
  }
  .profile__form {
    margin-bottom: 379px;
  }
}
