/* @media screen and (max-width: 770px) {
  .profile__form {
    min-width: 260px;
  }
  .greeting {
    margin-top: 236px;
    margin-bottom: 96px;
  }
}

@media screen and (max-width: 400px) {
  .greeting {
    margin-top: 70px;
    margin-bottom: 80px;
  }
  .profile__form {
    margin-bottom: 379px;
  }
} */
