.form {
  width: 396px;
  display: flex;
  flex-direction: column;
}

.greeting {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  margin-top: 40px;
}

@media screen and (max-width: 400px) {
  .greeting {
    margin-top: 50px;
    text-align: center;
  }

  .form {
    width: 260px;
  }
}

