.promo {
  display: grid;
  grid-template-areas:
   'content image'
   'content image';
   column-gap: 190px;
   background: #F3C1F8;
   padding: 75px 70px 50px 70px;
   justify-content: space-between;
  }

.promo__content {
  grid-area: content;
  display: flex;
  flex-direction: column;
}

.promo__header {
  display: flex;
  flex-direction: column;
  margin: 0;
  max-width: 640px;;
  margin-bottom: 36px;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
}

.promo__text {
  margin: 0;
  margin-bottom: 146px;
  width: 310px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  opacity: 0.5;
}

.promo__image {
  grid-area: image;
  width: 310px;
  height: 304px;
}

.promo__button {
  padding: 0;
  width: 129px;
  height: 36px;
  margin-bottom: 25px;
  border: 1px solid rgba(0, 0, 0, 0.6);;
  background: border-box;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

@media screen and (max-width: 1130px) {
  .promo {
    grid-template-rows: auto 48px auto;
    grid-template-areas:
    'image'
    'image-padding'
    'content';
    padding: 140px 0px 66px 0px;
    justify-items: center;
    justify-content: center;
  }

  .promo__header {
    text-align: center;
    margin-bottom: 22px;
    height: 100px;
    font-size: 40px;
    line-height: 50px;
    display: block;
  }

  .promo__content {
    align-items: center;
    text-align: center;
  }

  .promo__text {
    margin-bottom: 92px;
  }

  .promo__button {
    margin-bottom: 10px;
  }
}


@media screen and (max-width: 550px) {
  .promo {
    padding: 70px 10px 30px 10px;
    flex-direction: column;
    align-items: center;
  }

  .promo__header {
    width: 300px;
    height: 114px;
    font-size: 30px;
    line-height: 38px;
  }

  .promo__image {
    width: 210px;
    height: 206px;
  }

  .promo__text {
    width: 260px;
  }
}