.filter-checkbox {
  padding: 30px 0 49px 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.filter-checkbox:hover {
  opacity: 0.8;
}

.filter-checkbox__title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  margin-left: 12px;
}

.filter-checkbox__background {
  border: 0;
  width: 36px;
  height: 20px;
  border-radius: 20px;
  background-color: #2BE080;
  display: flex;
  align-items: center;
  transition: background-color 300ms;
}

.filter-checkbox__background_inactive {
  background-color: #EBEBEB;
}

.filter-checkbox__circle {
  display: inline-block;
  border-radius: 50%;
  background-color: white;
  width: 8px;
  height: 8px;
  margin-left: 22px;
  transition: margin-left 300ms;
}

.filter-checkbox__circle_inactive {
  background-color: #F5F5F5;
  margin-left: 6px;
}

@media screen and (max-width: 550px) {
  .filter-checkbox {
      padding: 43px 0 51px 0;
    }

  .filter-checkbox__title {
    font-size: 11px;
    line-height: 18px;
    margin-left: 13px;
  }
}