.filter-checkbox {
  padding: 30px 0 49px 0;
  display: flex;
  justify-content: center;
}

.filter-checkbox__title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  margin-left: 12px;
}

.filter-checkbox__button {
  border: 0;
  width: 36px;
  height: 20px;
  background-color: transparent;
  background-image: url('../../images/smalltumb-on.svg');
  cursor: pointer;
}

.filter-checkbox__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 550px) {
  .filter-checkbox {
      padding: 43px 0 51px 0;
    }

  .filter-checkbox__title {
    font-size: 11px;
    line-height: 18px;
    margin-left: 13px;
  }
}