.subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 26px;
}

@media screen and (max-width: 1018px) {
  .subtitle {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 600px) {
  .subtitle {
    font-size: 11px;
    line-height: 16px;
  }
}