.footer {
  display: grid;
  grid-template-areas:
    'title'
    'content';
  padding: 79px 70px 20px 70px;
}

.footer__tittle {
  display: flex;
  grid-area: title;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #A0A0A0;
  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #E8E8E8;
}

.footer__content {
  display: flex;
  grid-area: content;
  justify-content: space-between;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer__date {
  grid-area: date;
  text-align: center;
}

.footer__link {
  grid-area: links;
  margin-left: 20px;
}


@media screen and (max-width: 1018px) {
  .footer {
    padding: 79px 30px 20px 30px;
  }
}

@media screen and (max-width: 550px) {
  .footer {
    padding: 79px 10px 10px 10px;
  }

  .footer__tittle {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__date {
    margin-top: 30px;
    color: #A0A0A0;
    font-size: 12px;
    line-height: 15px;
  }

  .footer__content {
    display: grid;
    grid-template-areas: 
      'links'
      'date';
    flex-direction: column;
    justify-content: center;
  }

  .footer__links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__link {
    grid-area: links;
    margin-left: 0;
  }

  .footer__link:not(:last-child) {
    margin-bottom: 12px;
  }
}