.techs {
  padding: 100px 70px;
  background: #F5F5F5;
}

.elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
}

.tittle {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin: 0;
}

.text_position {
  text-align: center;
  margin-top: 26px;
}

.techs__icons {
  display: grid;
  grid-template-columns: repeat(7, 90px);
  column-gap: 10px;
  margin: 0;
  margin-top: 100px;
  width: 100%;
  justify-content: center;
}

.techs__icon {
  height: 60px;
  position: relative;
  background-color: #E8E8E8;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.04em;
}